.scroll-contents {
  width: 400px;
  height: 200px;
  outline: 1px solid gray;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;

  > .item {
    width: 100%;
    text-align: center;
  }
}
